<!DOCTYPE html>
<html>
<head>
    <title>Razor Page Shared Session Variable Test</title>
</head>
<body>
    <h1>Razor Page Shared Session Variable Test</h1>
    <span id="session-test-data">Session Test Data</span>
</body>
</html>
