<!DOCTYPE html>
<html>
<head>
    <title>Razor Page Shared Session Variable Test</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
</head>
<body>

    <div id="div-menu-container">
        <a href="/default.asp" class="menu-item">
            Classic ASP
        </a>
        <a href="/Razor-Page.cshtml" class="menu-item">
            Razor Page
        </a>
        <a href="/WebForm.aspx" class="menu-item">
            WebForm Page
        </a>
    </div>

    <a href="https://www.learnrazorpages.com/razor-pages/session-state">
        Session State in Razor Pages
    </a>

    <a href="https://stackoverflow.com/questions/53172970/asp-net-core-razor-pages-session-variable-is-not-accessible-from-other-views-ra">
        Asp.Net Core Razor pages, session variable is not accessible from other views/razor models
    </a>

    <h1>Razor Page</h1>
    <span id="session-test-data">SessionData > ???</span>
</body>
</html>
