<!DOCTYPE html>
<html>
<head>
    <title>Razor Page Shared Session Variable Test</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
</head>
<body>

    <div id="div-menu-container">
        <a href="/default.asp" class="menu-item">
            Classic ASP
        </a>
        <a href="/Razor-Page.cshtml" class="menu-item">
            Razor Page
        </a>
        <a href="/WebForm.aspx" class="menu-item">
            WebForm Page
        </a>
    </div>

    <a href="https://www.learnrazorpages.com/razor-pages/session-state">Razor - Session</a>

    <h1>Razor Page</h1>
    <span id="session-test-data">SessionData > <% Session["SessionData"] %></span>
</body>
</html>
