<!DOCTYPE html>
<html>
<head>
    <title>Razor Page Shared Session Variable Test</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
</head>
<body>

    <div id="div-menu-container">
        <a href="/default.asp" class="menu-item">
            Classic ASP
        </a>
        <a href="/Razor-Page.cshtml" class="menu-item">
            Razor Page
        </a>
        <a href="/WebForm.aspx" class="menu-item">
            WebForm Page
        </a>
    </div>

    <div>
        References
        <div>
            <a href="https://www.learnrazorpages.com/razor-pages/session-state" target="_blank">
                Session State in Razor Pages
            </a>
        </div>
        <div>
            <a href="https://stackoverflow.com/questions/53172970/asp-net-core-razor-pages-session-variable-is-not-accessible-from-other-views-ra" target="_blank">
                Asp.Net Core Razor pages, session variable is not accessible from other views/razor models
            </a>
        </div>
    </div>

    <h1>Razor Page</h1>
    <span id="session-test-data">SessionData > <% =Session["SessionData"] %></span>
</body>
</html>
